#git ignore for Matlab Project
#put it in the root folder

#ignore sounds folder
sounds/*
!sounds/hint/
!sounds/defaults/

#ignore Data folder
Data/

#ignore slprj folder
**/slprj/
/slprj/

#ignore codegen folder
**/codegen/
/codegen/

#ignore MAT
*.mat
**/*.mat
!config/eventFlow_active.mat
!config/eventFlow_passive.mat

#ignore following files;
*.asv
*.slxc
*.mexmaci64
*.mexmaci32
*.jpg
*.png