#git ignore for Matlab Project
#put it in the root folder

#ignore sounds folder


#ignore slprj folder
**/slprj/
/slprj/

#ignore codegen folder
**/codegen/
/codegen/

#ignore MAT
*.mat
**/*.mat

#ignore following files;
*.asv
*.slxc
*.mexmaci64
*.mexmaci32
*.jpg
*.png